{
  "Working Directory" : "\/Users\/{{ ansible_user_id }}",
  "Prompt Before Closing 2" : false,
  "Selected Text Color" : {
    "Red Component" : 0.60773354768753052,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.70040369033813477,
    "Alpha Component" : 1,
    "Green Component" : 0.63625657558441162
  },
  "Rows" : 45,
  "Ansi 11 Color" : {
    "Red Component" : 0.77367901802062988,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.32740181684494019,
    "Alpha Component" : 1,
    "Green Component" : 0.53406417369842529
  },
  "Use Italic Font" : true,
  "HotKey Characters" : "`",
  "Foreground Color" : {
    "Red Component" : 0.60773354768753052,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.70040369033813477,
    "Alpha Component" : 1,
    "Green Component" : 0.63625657558441162
  },
  "HotKey Window Floats" : false,
  "Right Option Key Sends" : 0,
  "Character Encoding" : 4,
  "Selection Color" : {
    "Red Component" : 0.18584296107292175,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.25302234292030334,
    "Alpha Component" : 1,
    "Green Component" : 0.2037905752658844
  },
  "Blend" : 0.050000000000000003,
  "Mouse Reporting" : true,
  "Ansi 4 Color" : {
    "Red Component" : 0.31691098213195801,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.92034518718719482,
    "Alpha Component" : 1,
    "Green Component" : 0.61757242679595947
  },
  "Non-ASCII Anti Aliased" : false,
  "Sync Title" : false,
  "Disable Window Resizing" : true,
  "Description" : "Default",
  "Close Sessions On End" : true,
  "Jobs to Ignore" : [
    "rlogin",
    "ssh",
    "slogin",
    "telnet"
  ],
  "Scrollback Lines" : 1000,
  "HotKey Window Reopens On Activation" : false,
  "Flashing Bell" : false,
  "Cursor Guide Color" : {
    "Red Component" : 0.64999997615814209,
    "Color Space" : "Calibrated",
    "Blue Component" : 1,
    "Alpha Component" : 0.25,
    "Green Component" : 0.9100000262260437
  },
  "BM Growl" : true,
  "Ansi 3 Color" : {
    "Red Component" : 0.86970341205596924,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.40846776962280273,
    "Alpha Component" : 1,
    "Green Component" : 0.70514953136444092
  },
  "Use Non-ASCII Font" : true,
  "Link Color" : {
    "Red Component" : 0.30268973112106323,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.93489384651184082,
    "Alpha Component" : 1,
    "Green Component" : 0.61235702037811279
  },
  "Shortcut" : "",
  "Bold Color" : {
    "Red Component" : 0.60773354768753052,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.70040369033813477,
    "Alpha Component" : 1,
    "Green Component" : 0.63625657558441162
  },
  "Unlimited Scrollback" : false,
  "Custom Command" : "No",
  "HotKey Key Code" : 50,
  "Keyboard Map" : {
    "0xf700-0x260000" : {
      "Text" : "[1;6A",
      "Action" : 10
    },
    "0x37-0x40000" : {
      "Text" : "0x1f",
      "Action" : 11
    },
    "0x32-0x40000" : {
      "Text" : "0x00",
      "Action" : 11
    },
    "0xf709-0x20000" : {
      "Text" : "[17;2~",
      "Action" : 10
    },
    "0xf70c-0x20000" : {
      "Text" : "[20;2~",
      "Action" : 10
    },
    "0xf729-0x20000" : {
      "Text" : "[1;2H",
      "Action" : 10
    },
    "0xf72b-0x40000" : {
      "Text" : "[1;5F",
      "Action" : 10
    },
    "0xf705-0x20000" : {
      "Text" : "[1;2Q",
      "Action" : 10
    },
    "0xf703-0x260000" : {
      "Text" : "[1;6C",
      "Action" : 10
    },
    "0xf700-0x220000" : {
      "Text" : "[1;2A",
      "Action" : 10
    },
    "0xf701-0x280000" : {
      "Text" : "0x1b 0x1b 0x5b 0x42",
      "Action" : 11
    },
    "0x38-0x40000" : {
      "Text" : "0x7f",
      "Action" : 11
    },
    "0x33-0x40000" : {
      "Text" : "0x1b",
      "Action" : 11
    },
    "0xf703-0x220000" : {
      "Text" : "[1;2C",
      "Action" : 10
    },
    "0xf701-0x240000" : {
      "Text" : "[1;5B",
      "Action" : 10
    },
    "0xf70d-0x20000" : {
      "Text" : "[21;2~",
      "Action" : 10
    },
    "0xf702-0x260000" : {
      "Text" : "[1;6D",
      "Action" : 10
    },
    "0xf729-0x40000" : {
      "Text" : "[1;5H",
      "Action" : 10
    },
    "0xf706-0x20000" : {
      "Text" : "[1;2R",
      "Action" : 10
    },
    "0x34-0x40000" : {
      "Text" : "0x1c",
      "Action" : 11
    },
    "0xf700-0x280000" : {
      "Text" : "0x1b 0x1b 0x5b 0x41",
      "Action" : 11
    },
    "0x2d-0x40000" : {
      "Text" : "0x1f",
      "Action" : 11
    },
    "0xf70e-0x20000" : {
      "Text" : "[23;2~",
      "Action" : 10
    },
    "0xf702-0x220000" : {
      "Text" : "[1;2D",
      "Action" : 10
    },
    "0xf703-0x280000" : {
      "Text" : "0x1b 0x1b 0x5b 0x43",
      "Action" : 11
    },
    "0xf700-0x240000" : {
      "Text" : "[1;5A",
      "Action" : 10
    },
    "0xf707-0x20000" : {
      "Text" : "[1;2S",
      "Action" : 10
    },
    "0xf70a-0x20000" : {
      "Text" : "[18;2~",
      "Action" : 10
    },
    "0x35-0x40000" : {
      "Text" : "0x1d",
      "Action" : 11
    },
    "0xf70f-0x20000" : {
      "Text" : "[24;2~",
      "Action" : 10
    },
    "0xf703-0x240000" : {
      "Text" : "[1;5C",
      "Action" : 10
    },
    "0xf701-0x260000" : {
      "Text" : "[1;6B",
      "Action" : 10
    },
    "0xf702-0x280000" : {
      "Text" : "0x1b 0x1b 0x5b 0x44",
      "Action" : 11
    },
    "0xf72b-0x20000" : {
      "Text" : "[1;2F",
      "Action" : 10
    },
    "0x36-0x40000" : {
      "Text" : "0x1e",
      "Action" : 11
    },
    "0xf708-0x20000" : {
      "Text" : "[15;2~",
      "Action" : 10
    },
    "0xf701-0x220000" : {
      "Text" : "[1;2B",
      "Action" : 10
    },
    "0xf70b-0x20000" : {
      "Text" : "[19;2~",
      "Action" : 10
    },
    "0xf702-0x240000" : {
      "Text" : "[1;5D",
      "Action" : 10
    },
    "0xf704-0x20000" : {
      "Text" : "[1;2P",
      "Action" : 10
    }
  },
  "Ansi 14 Color" : {
    "Red Component" : 0.28184390068054199,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.70909905433654785,
    "Alpha Component" : 1,
    "Green Component" : 0.65958327054977417
  },
  "Ansi 2 Color" : {
    "Red Component" : 0.53152436017990112,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.39974293112754822,
    "Alpha Component" : 1,
    "Green Component" : 0.72638434171676636
  },
  "Send Code When Idle" : false,
  "ASCII Anti Aliased" : true,
  "Tags" : [

  ],
  "Ansi 9 Color" : {
    "Red Component" : 0.68343335390090942,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.21343094110488892,
    "Alpha Component" : 1,
    "Green Component" : 0.23213338851928711
  },
  "Use Bold Font" : true,
  "Silence Bell" : false,
  "Ansi 12 Color" : {
    "Red Component" : 0.31691098213195801,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.92034518718719482,
    "Alpha Component" : 1,
    "Green Component" : 0.61757242679595947
  },
  "Window Type" : 2,
  "Use Bright Bold" : true,
  "Has Hotkey" : true,
  "HotKey Modifier Activation" : 0,
  "Cursor Text Color" : {
    "Red Component" : 1,
    "Color Space" : "Calibrated",
    "Blue Component" : 1,
    "Alpha Component" : 1,
    "Green Component" : 1
  },
  "HotKey Window Dock Click Action" : 1,
  "Default Bookmark" : "No",
  "Cursor Color" : {
    "Red Component" : 0.73333334922790527,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.73333334922790527,
    "Alpha Component" : 1,
    "Green Component" : 0.73333334922790527
  },
  "Ansi 1 Color" : {
    "Red Component" : 0.83982789516448975,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.38427835702896118,
    "Alpha Component" : 1,
    "Green Component" : 0.33154332637786865
  },
  "Name" : "GuakeTerm",
  "Blinking Cursor" : true,
  "Guid" : "6126306D-5F46-4D5C-85B6-684CA624EEBA",
  "Idle Code" : 0,
  "Ansi 10 Color" : {
    "Red Component" : 0.53152436017990112,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.39974293112754822,
    "Alpha Component" : 1,
    "Green Component" : 0.72638434171676636
  },
  "Ansi 8 Color" : {
    "Red Component" : 0.18584296107292175,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.25302234292030334,
    "Alpha Component" : 1,
    "Green Component" : 0.2037905752658844
  },
  "Badge Color" : {
    "Red Component" : 1,
    "Color Space" : "Calibrated",
    "Blue Component" : 0,
    "Alpha Component" : 0.5,
    "Green Component" : 0
  },
  "Ambiguous Double Width" : false,
  "Background Image Mode" : 2,
  "Cursor Type" : 0,
  "Ansi 0 Color" : {
    "Red Component" : 0.11784578859806061,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.15356595814228058,
    "Alpha Component" : 1,
    "Green Component" : 0.12867720425128937
  },
  "Blur" : false,
  "Normal Font" : "FiraCodeRoman-Bold 13",
  "Vertical Spacing" : 1,
  "Ansi 7 Color" : {
    "Red Component" : 0.60774457454681396,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.69588643312454224,
    "Alpha Component" : 1,
    "Green Component" : 0.63642364740371704
  },
  "Space" : -1,
  "HotKey Window AutoHides" : true,
  "Command" : "",
  "Terminal Type" : "xterm-256color",
  "Horizontal Spacing" : 1,
  "Option Key Sends" : 0,
  "HotKey Window Animates" : true,
  "HotKey Modifier Flags" : 262144,
  "Ansi 15 Color" : {
    "Red Component" : 0.28983011841773987,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.36364352703094482,
    "Alpha Component" : 1,
    "Green Component" : 0.32518172264099121
  },
  "Ansi 6 Color" : {
    "Red Component" : 0.28184390068054199,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.70909905433654785,
    "Alpha Component" : 1,
    "Green Component" : 0.65958327054977417
  },
  "Transparency" : 0,
  "HotKey Activated By Modifier" : false,
  "Background Color" : {
    "Red Component" : 0.11784578859806061,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.15356595814228058,
    "Alpha Component" : 1,
    "Green Component" : 0.12867720425128937
  },
  "Screen" : 0,
  "Initial Use Transparency" : true,
  "HotKey Characters Ignoring Modifiers" : "`",
  "Non Ascii Font" : "FiraCodeRoman-Bold 13",
  "Ansi 13 Color" : {
    "Red Component" : 0.72034633159637451,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.83443140983581543,
    "Alpha Component" : 1,
    "Green Component" : 0.36372148990631104
  },
  "Columns" : 80,
  "HotKey Alternate Shortcuts" : [

  ],
  "Visual Bell" : true,
  "Custom Directory" : "No",
  "ASCII Ligatures" : false,
  "Ansi 5 Color" : {
    "Red Component" : 0.72034633159637451,
    "Color Space" : "Calibrated",
    "Blue Component" : 0.83443140983581543,
    "Alpha Component" : 1,
    "Green Component" : 0.36372148990631104
  }
}
